html,body {
height: 100%;
overflow-y: hidden;
}
body {
font-family: sans-serif;
font-size: 12px;
padding: 0px;
margin: 0px
}
.station {
width: 100%;
cursor: pointer;
-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
            user-select: none;
}
.station:nth-child(even) {
background-color: #FDF5F1;
}
.station-body {
display: table-row
}
.station-cell {
display: table-cell;
padding: 7px 4px;
}
.health {
vertical-align: middle;
font-size: 2em;
line-height: 1em;
}
.health progress {
width: 50px
}
.inactive {
text-decoration: line-through;
color: red
}
.name {
font-size: 1.2em;
font-weight: bold;
}
.detail {
font-size: 0.8em;
color: gray;
}
.alert {
color: red
}
.bike .health {
width: 50px;
font-size: 1.0em;
line-height: 1.0em;
text-align: center;
}
#header {
padding: 3px;
font-size: 1.2em;
background: linear-gradient(to bottom, rgb(253,128,75) 0%,rgb(253,77,2) 100%);
border-bottom: 1px solid black;
border-top: 1px solid black;
text-align: center;
}
#footer {
font-size: 0.8em;
padding: 10px;
color: gray;
}
#selector {
display: inline-block
}
#map {
height: 50%;
width: 100%;
}
#content {
height: 50%;
width: 100%;
display: table;
}
#content > div {
display: table-row;
}
#content-fixed {
height: 0;
}
#content-scroll {
height: 100%;
}
#content-scroll-wrap {
width: 100%;
height: 100%;
position: relative;
}
#content-scroll-inner {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
overflow: auto;
-webkit-overflow-scrolling: touch;
}
#app-name {
display: none
}
@media (min-width: 700px) {
    body {
padding: 0 350px 0 0;
}
    #app-name {
display: block;
text-align: center
}
    #map {
height: 100%;
}
    #content {
height: 100%;
width: 349px;
top: 0px;
right: 0px;
position: fixed;
border-left: 1px solid black
}

}
#system-name {
float: right
}
#loading {
font-size: 1.5em;
}
.message {
padding: 10px;
}
#selector div {
display: inline-block;
min-width: 20px;
padding: 5px;
font-size: 14px;
line-height: 20px;
color: #333;
text-align: center;
text-shadow: 0 1px 1px rgba(255,255,255,0.75);
vertical-align: middle;
cursor: pointer;
background-color: #f5f5f5;
background-image: linear-gradient(to bottom,#fff,#e6e6e6);
background-repeat: repeat-x;
border: 1px solid #ccc;
border-color: #e6e6e6 #e6e6e6 #bfbfbf;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
border-bottom-color: #b3b3b3;
box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
            user-select: none;
}
#selector div.active {
background-image: none;
outline: 0;
box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
background-color: #e0e0e0;
}
#system-search-container {
text-align: center;
}
#system-search {
width: 80%;
margin-bottom: 3px;
}
#system-count {
color: gray;
font-size: 0.8em;
}
#progress-indicator {
vertical-align: middle;
display: inline-block;
}
progress[value] {
-webkit-appearance: none;
}
progress[value]::-webkit-progress-bar {
background-color: #eee;
border-radius: 2px;
box-shadow: 0 2px 5px rgba(0,0,0,0.25) inset;
height: 6px;
}
progress[value]::-webkit-progress-value {
background-color: rgb(253,77,2);
border-radius: 2px;
}
.points-icon {
font-size: 8px;
line-height: 10px;
padding-top: 1px;
font-family: sans-serif;
text-align: center;
white-space: nowrap;
}
.points-icon .points-pick {
color: white
}
.points-icon .points-drop {
color: black
}
.points-icon span::before {
content: "";
width: 6px;
height: 7px;
display: inline-block;
background-size: contain;
background-position: center;
background-repeat: no-repeat;
vertical-align: middle;
padding-right: 1px;
}
.points-icon .points-pick::before {
background-image: url(images/up.svg);
}
.points-icon .points-drop::before {
background-image: url(images/down.svg);
}
.station .points-pick {
color: green
}
.station .points-drop {
color: red
}
#loading {
text-align: center;
}
#loading .bar {
display: inline-block;
width: 10px;
height: 10px;
background: rgb(253,128,75);
margin-right: 1px;
border-radius: 5px;
animation: opacity-1 700ms infinite ease-in-out;
margin: 0px 5px;
}
p.error {
color: red;
}
#loading .bar1 {
animation-delay: -100ms;
}
#loading .bar2 {
animation-delay: -200ms;
}
#loading .bar3 {
animation-delay: -300ms;
}
#loading .bar4 {
animation-delay: -400ms;
}
#loading .bar5 {
animation-delay: -500ms;
}
#loading .bar6 {
animation-delay: -600ms;
}

@keyframes opacity-1 {
  0% {
opacity: 1;
}
  50% {
opacity: 0;
}
  100% {
opacity: 1;
}

}
