html,body {
height: 100%;
overflow-y: hidden;
}
body {
font-family: Menlo;
font-size: 12px;
padding: 0px;
margin: 0px
}
.station {
width: 100%;
cursor: pointer
}
.station:nth-child(even) {
background-color: #FDF5F1;
}
.station-body {
display: table-row
}
.station-cell {
display: table-cell;
padding: 7px 4px;
}
.health {
vertical-align: middle;
}
.health progress {
width: 50px
}
.inactive {
text-decoration: line-through;
color: red
}
.name {
font-size: 1.2em;
font-weight: bold;
}
.detail {
font-size: 0.8em;
color: gray;
}
.alert {
color: red
}
.bike .health {
width: 50px;
font-size: 1.0em;
line-height: 1.0em;
text-align: center;
}
#header {
padding: 3px;
font-size: 1.2em;
background: linear-gradient(to bottom, rgb(253,128,75) 0%,rgb(253,77,2) 100%);
border-bottom: 1px solid black;
border-top: 1px solid black;
text-align: center;
}
#footer {
font-size: 0.8em;
padding: 10px;
text-align: center;
color: gray;
}
#selector {
display: inline-block
}
#map {
height: 50%;
width: 100%;
}
#content {
height: 50%;
width: 100%;
overflow-y: auto
}
#app-name {
display: none
}
@media (min-width: 700px) {
    body {
padding: 0 350px 0 0;
}
    #app-name {
display: block;
text-align: center
}
    #map {
height: 100%;
}
    #content {
height: 100%;
width: 349px;
top: 0px;
right: 0px;
position: fixed;
border-left: 1px solid black
}

}
#system-name {
float: right
}
#loading {
font-size: 1.5em;
padding: 10px;
}
#selector div {
display: inline-block;
min-width: 20px;
padding: 5px;
font-size: 14px;
line-height: 20px;
color: #333;
text-align: center;
text-shadow: 0 1px 1px rgba(255,255,255,0.75);
vertical-align: middle;
cursor: pointer;
background-color: #f5f5f5;
background-image: linear-gradient(to bottom,#fff,#e6e6e6);
background-repeat: repeat-x;
border: 1px solid #ccc;
border-color: #e6e6e6 #e6e6e6 #bfbfbf;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
border-bottom-color: #b3b3b3;
box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
#selector div.active {
background-image: none;
outline: 0;
box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
background-color: #e0e0e0;
}
#progress-indicator {
vertical-align: middle;
display: inline-block;
}
progress[value] {
-webkit-appearance: none;
}
progress[value]::-webkit-progress-bar {
background-color: #eee;
border-radius: 2px;
box-shadow: 0 2px 5px rgba(0,0,0,0.25) inset;
height: 6px;
}
progress[value]::-webkit-progress-value {
background-color: rgb(253,77,2);
border-radius: 2px;
}
.points-icon {
font-size: 7px;
padding-top: 1px;
font-family: Menlo;
text-align: center
}
.points-icon .points-pick {
color: white
}
.points-icon .points-drop {
color: black
}
.station .points-pick {
color: green
}
.station .points-drop {
color: red
}
